<div class="rate-container">
    <div class="table-block bg-grey">
        <p>РЖД</p>
    </div>
    <div class="table-block" *ngIf="calculateService.maxBagWeightEconomTwo">
        <p>Эконом: {{ calculateService.rateTwoEconom | async }} ₽</p>
    </div>
    <div class="table-block" *ngIf="calculateService.maxBagWeightAdvancedTwo">
        <p>Продвинутый: {{ calculateService.rateTwoAdvanced | async }} ₽</p>
    </div>
    <div class="table-block" *ngIf="calculateService.maxBagWeightLuxTwo">
        <p>Люкс: {{ calculateService.rateTwoLux | async }} ₽</p>
    </div>
</div>
